<div class="idea-form-container">
  <app-idea-form [model]="modelToEdit" [isNew]="isNew"></app-idea-form>
</div>

<div class="card w-75" *ngFor="let idea of ideas">
  <div class="idea-title card-title"><h1 [innerHTML]="idea.title"></h1></div>
  <div class="actions">
    {{idea.uuid}} // TODO: rmove this<br />
    <button type="button" (click)="deleteIdea(idea.uuid)">Delete Idea</button>
    <br />
    <button type="button" (click)="editIdea(idea)">Edit This Idea</button>
  </div>
  <div class="card-body">
    <div [innerHTML]="idea.field_description" class="idea-description"></div>
    <div class="idea-features">
      <div *ngFor="let feature of idea.field_features" class="idea-features">
        <h3 [innerHTML]="feature.title" class="feature-title"></h3>
        <div [innerHTML]="feature.field_description" class="feature-description"></div>
        {{ feature.uuid }} // TODO: remove this
      </div>
    </div>
  </div>
</div>