<div class="actions">
  <button (click)="showForm()" class="button new-idea-button">New Idea</button>
</div>

<div class="form-group" [hidden]="submitted">
  <form action="" #ideaform="ngForm" (ngSubmit)="onSubmit()">
    <br />
    {{ model | json }}
    <br />
    <label for="title">Idea Title</label>
    <input [(ngModel)]="model.title" type="text" class="form-control" id="title" name="title" required />

    <label for="description">Idea Description</label>
    <textarea [(ngModel)]="model.field_description" class="form-control" id="description" name="description"
      required></textarea>

    <div *ngFor="let feature of model.field_features; let i = index">
      <label for="feature_title[{{ i }}]">Feature {{ i }} Title:</label>
      <input [(ngModel)]="model.field_features[i].title"
        type="text"
        class="form-control {{i}}"
        name="feature_title[{{ i }}]"
        [attr.data-feature-index]="i"
        />
      {{ model.field_features[i].title }}

      <br />
      <br />
      <label for="feature_description[{{ i }}]">Feature {{ i }} Description:</label>
      <textarea [(ngModel)]="model.field_features[i].field_description"
        type="text"
        class="form-control {{i}}"
        name="feature_description[{{ i }}]"
        [attr.data-feature-index]="i"
        ></textarea>
        <div class="actions">
          <button type="button" (click)="removeFeature(i)">Remove this feature</button>
        </div>
      <hr />
    </div>

    <button (click)="newIdea();ideaform.reset()">New Idea</button>
<br>
    <button (click)="newFeature()" type="button" class="button">New Feature</button>
<br>
    <input type="submit" value="submit" class="btn btn-success" [disabled]="!ideaform.form.valid">
  </form>
</div>