<div class="actions">
  <button class="button new-idea-button">New Idea</button>
</div>

<div class="idea-form-container">
  
</div>

<div class="card w-75" *ngFor="let idea of ideas">
  <div class="idea-title card-title"><h1 [innerHTML]="idea.title"></h1></div>
  <div class="card-body">
    <div [innerHTML]="idea.field_description" class="idea-description"></div>
    <div class="idea-features">
      <div *ngFor="let feature of idea.field_features">
        <div [innerHTML]="feature.title" class="feature-title"></div>
        <div [innerHTML]="feature.field_description" class="feature-description"></div>
      </div>
    </div>
    <!-- <div [innerHTML]="idea.view" class="idea-features"></div> -->
    <!-- <div [innerHTML]="features" class="idea-features"></div> -->
  </div>
</div>